.btn {
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  border: none;
  text-align: center;
  outline: none;
  cursor: pointer;
  border-radius: var(--button-border);
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  color: var(--text-color);
}
.btn-floating{
  border: medium solid var(--white-color);
  border-radius: 50%;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.05rem var(--black-color);
  height: 4rem;
  transition: transform 0.2s;
  width: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.arrow-icon{
  background: var(--primary-color);
}
.plus-icon{
  background-color: var(--black-color);
  color: var(--text-color);
}
.minus-icon{
  color: var(--black-color);
  background-color: var(--white-color);
}

/* Standard buttons classes, Link Buttons & Buttons With Icon */
.btn-primary,.link-primary,.btn-primary-icon {
  background-color: var(--primary-color);
}
.btn-secondary,.link-secondary,.btn-secondary-icon {
  background-color: var(--secondary-color);
}
.btn-success,.link-success,.btn-success-icon {
  background-color: var(--online-color);
}
.btn-danger,.link-danger,.btn-danger-icon {
  background-color: var(--dnd-color);
}
.btn-warning,.link-warning {
  background-color: var(--warning-icon-color);
}
.btn:hover{
  opacity: 0.85;
}
/* Outline buttons classes */
.btn-outline-primary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.btn-outline-secondary {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
.btn-outline-success {
  border: 1px solid var(--online-color);
  color: var(--online-color);
}
.btn-outline-danger {
  border: 1px solid var(--dnd-color);
  color: var(--dnd-color);
}
.btn-outline-warning {
  border: 1px solid var(--warning-icon-color);
  color: var(--warning-icon-color);
}
