.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    text-align: center;
    padding: 2rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 1px solid var(--white-color);
    font-size: 1.5rem;
}