.img-responsive {
    max-inline-size: 100%;
    block-size: auto;
  }
  
  .img-round {
    max-inline-size: 100%;
    border-radius: 50%;
    block-size: auto;
    object-fit: cover;
    width: 12rem;
    height: 12rem;
    aspect-ratio: 1/1;
  }
  
  .img-square {
    max-inline-size: 100%;
    height: 12rem;
    width: 12rem;
    object-fit: cover;
    block-size: auto;
    aspect-ratio: 1/1;
  }