.img-responsive {
    max-inline-size: 100%;
    block-size: auto;
  }
  
  .img-round {
    border-radius: 50%;
    object-fit: cover;
  }
  
  .img-square {
    height: 100%;
    object-fit: cover;
  }