.grid-20-60-20-layout {
  display: grid;
  grid-template-columns: 15% 60% 15%;
  column-gap: 2rem;
}

.grid-60-40-layout {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-items: center;
}

.grid-40-60-layout {
  display: grid;
  grid-template-columns: 40% 60%;
}

.flex {
  display: flex;
}

.flex-direction-col {
  flex-direction: column;
}

.create-navbar {
  position: sticky;
  top: 0.5rem;
  z-index: 1;
}

.center-flex {
  justify-content: center;
  align-items: center;
}

.brand-name {
  background: -webkit-linear-gradient(left, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}

.sm-screen,.close-menu,.mobile-sidebar{
  display: none;
}

@media screen and (max-width: 900px) {
  .grid-20-60-20-layout {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 1rem;
    column-gap: 1rem;
  }

  .right-nav-container {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .grid-20-60-20-layout {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
  }

  .grid-40-60-layout {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
  }

  .hero-img,
  .aside,.fa-github {
    display: none;
    visibility: none;
  }

  .grid-60-40-layout {
    display: grid;
    grid-template-columns: 1fr;
  }

  .sm-screen {
    display: block;
    font-size: 4rem;
  }

  .create-navbar {
    background-color: #DFDFDF;
    top: 0;
    padding-top:1rem;
  }

  .get-started {
    text-align: center;
  }
  .open-menu{
    display: block;
  }

  .mobile-sidebar{
    position: absolute;
    z-index: 3;
    margin-top: 0.5rem;
    padding: 1.5rem;
    right: 0;
    opacity: 0.95;
    overflow-y:scroll;
    background-color: var(--background-color);
    height: 90vh;
    border-radius: 10px;
    border: 1px solid var(--black-color);
  }
}
@media only screen and (max-width: 1800px) and (min-width: 660px)  {
  #open-menu,#close-menu,#sm-sidebar{
    display: none;
  }
}
.show{
  display: block;
}
.hide{
  display: none;
}

.mobile-sidebar::-webkit-scrollbar{
  width: 5px;
}