.grid-20-60-20-layout {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.grid-60-40-layout{
  display: grid;
  grid-template-columns: 60% 40%;
}
  .flex{
    display: flex;
}


@media screen and (max-width: 660px){
.grid-20-60-20-layout {
  display: grid;
  grid-template-columns: 1fr;
}
}