.cursor-pointer {
    cursor: pointer;
  }

  * {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
  }

  iframe{
    display: flex;
    flex-wrap: wrap; 
    border: 0; 
    transform: scale(1); 
    overflow:auto;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .text-highlight{
    background-color: var(--text-highlight-color);
    line-height: 1.8rem;
    border-radius: 0.2rem;
  }