  * {
    box-sizing: border-box;
  }
  footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
  }
  iframe{
    border: none; 
    transform: scale(1); 
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .text-highlight{
    background-color: var(--text-highlight-color);
    line-height: 1.8rem;
    border-radius: 0.2rem;
  }
  .cursor-pointer {
    cursor: pointer;
  }