:root {
    --primary-color: #0e6ba8;
    --secondary-color:#72BFF2;
    --background-color:#DFDFDF;
    --default-font-size: 75%;
    --text-highlight-color: #0e6aa832;
    --gray-text: #AEAEAE;
    --padding: 0.25rem;
    --margin: 0.25rem;
    --text-color: #ffffff;
    --font-light: 300;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --button-border: 0.25rem;
    --white-color: #ffffff;
    --black-color: #000000;
    --dnd-color:#ff0000;
    --online-color:#32b643;
    --inactive-color:#bcc3ce;
    --success-color:#d1e7dd;
    --danger-color:#f8d7da;
    --warning-color:#fff3cd;
    --info-color:#cff4fc;
    --warning-icon-color:#ffc402;
    --info-icon-color: #067aff;
  }