body {
    background-color: #dfdfdf;
}

nav {
    align-items: center;
    padding: 0.5rem 1rem;
}

.links {
    margin-left: auto;
}

.aside-container {
    display: flex;
}

.right-nav-container>a {
    margin: 0.5rem;
}

@media screen and (max-width: 660px) {
    .right-nav-container,.hero-img,.aside-container {
        display: none;
        visibility: none;
    }

    .grid-60-40-layout{
        display: grid;
        grid-template-columns: 1fr;
    }
}

.anchor-tag:hover {
    background-color: var(--text-highlight-color);
    border-radius: .5rem;
}
.anchor-tag:active{
    background-color: var(--secondary-color);
}
.position-relative {
    position: relative;
}

.position-sticky {
    position: sticky;
    top: 0;
}

.brand-name {
    font-size: 3rem;
    background: -webkit-linear-gradient(left,var(--primary-color),var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
}

.body-content{
margin-top: 10rem;
}