:root{
    ---background-color: linear-gradient(to top,#0e6aa86c, #e8f1f27e);
}
body{
    background-image: var(---background-color);
}
nav{
    align-items: center;
    padding: 0.5rem 1rem;
}
.links{
    margin-left: auto;
}

.hero-img{
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
}
.aside-container {
    display: flex;
    position: sticky;
  }

.right-nav-container> a{
    margin: 0.5rem;
}

@media screen and (max-width: 660px) {
    .right-nav-container{
        display: none;
        visibility: none; 
    }
    .aside-container{
        display: none;
        visibility: none;
    }   
}
.anchor-tag:hover{
        background-color: var(--text-highlight-color);
        border-radius: .5rem;
}